@media (max-width: 768px) {
  .header {
    height: 60px; }
    .header .header-c {
      width: 100%; }
      .header .header-c .logo {
        width: 100px;
        margin-left: 20px;
        background-size: 100%; }
      .header .header-c .nav {
        display: none; }
      .header .header-c .nav-m {
        display: none;
        width: 100%;
        right: 0px;
        top: 60px;
        height: auto; }
        .header .header-c .nav-m .li-item {
          float: none;
          height: 40px;
          width: 100%;
          margin: 0;
          line-height: 40px;
          background-color: #fff; }
          .header .header-c .nav-m .li-item .active {
            color: #b9ab77; }
          .header .header-c .nav-m .li-item a:hover {
            color: #b9ab77; }
          .header .header-c .nav-m .li-item a::after {
            display: none; }
          .header .header-c .nav-m .li-item .active::after {
            display: none; }
          .header .header-c .nav-m .li-item a:hover::after {
            display: none; }
      .header .header-c .switch {
        display: block; }
        @keyframes left {
          0% {
              transform: translate3d(3000px, 0, 0);
              opacity: 0;
              transform: translate3d(3000px, 0, 0);
          }
  
          60% {
              transform: translate3d(-25px, 0, 0);
              opacity: 1;
              transform: translate3d(-25px, 0, 0);
          }
  
          75% {
              transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
          }
  
          90% {
              transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
          }
  
          100% {
              transform: translateZ(0);
              transform: translateZ(0);
          }
  
      }
  
      @keyframes right {
          20% {
              transform: translate3d(-20px, 0, 0);
              opacity: 1;
              transform: translate3d(-20px, 0, 0);
          }
  
          100% {
              opacity: 0;
              transform: translate3d(2000px, 0, 0);
          }
  
      }
  

  .banner {
    margin-top: 60px; }

  .content {
    margin-top: 60px; }
    .content .content-c {
      width: 100%; }
      .content .content-c .brand {
        width: 100%; }
        .content .content-c .brand .title {
          height: 80px; }
          .content .content-c .brand .title .title-c {
            font-size: 20px; }
          .content .content-c .brand .title .title-e {
            font-size: 14px; }
        .content .content-c .brand .brand-t .img {
          width: 100%; }
        .content .content-c .brand .brand-t .text {
          position: static;
          width: 100%; }
      .content .content-c .contact {
        padding-bottom: 20px; }
        .content .content-c .contact .title {
          height: 80px; }
          .content .content-c .contact .title .title-c {
            font-size: 20px; }
          .content .content-c .contact .title .title-e {
            color: #c1c1c1;
            font-size: 14px; }
        .content .content-c .contact .address .img {
          width: 100%; }
          .content .content-c .contact .address .img img {
            width: 100%; }
        .content .content-c .contact .address h2 {
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 22px; }
        .content .content-c .contact .address p {
          text-indent: 2em; }
        .content .content-c .contact .map {
          margin-top: 30px;
          position: relative;
          width: 100%; }
          .content .content-c .contact .map #allmap {
            width: 100%;
            height: 260px; }
          .content .content-c .contact .map .tel {
            position: static;
            width: 100%;
            right: 0;
            top: 0; }
            .content .content-c .contact .map .tel p:nth-child(1) {
              padding-top: 20px; }
            .content .content-c .contact .map .tel p {
              font-size: 16px;
              color: #616060;
              line-height: 25px;
              text-align: center; }

  .footer .footer-c {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    text-align: center; }
    .footer .footer-c .left {
      height: auto; }
      .footer .footer-c .left p:nth-child(1) {
        margin: 15px 0; }
      .footer .footer-c .left p:nth-child(2) {
        margin: 15px 0; }
    .footer .footer-c .right {
      position: relative;
      margin: 0 auto;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center; }
      .footer .footer-c .right li {
        float: left;
        height: auto;
        line-height: 20px;
        margin-left: 10px; }
    .footer .footer-c .goTop {
      right: 30px; } }

/*# sourceMappingURL=style-m.css.map */
