.header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }
  .header .header-c {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .header .header-c .logo {
      display: block;
      width: 186px;
      height: 100%;
      background: url(../../../static/imgs/logo.png) no-repeat center;
      margin-left: 60px; }
    .header .header-c .nav {
      display: block;
      position: absolute;
      top: 0;
      right: 60px;
      height: 100%; }
      .header .header-c .nav .li-item {
        float: left;
        height: 100%;
        width: 110px;
        margin-left: 20px;
        text-align: center;
        line-height: 80px; }
        .header .header-c .nav .li-item a {
          position: relative;
          text-decoration: none;
          color: #666666; }
        .header .header-c .nav .li-item a:hover {
          color: #1d1d1d; }
        .header .header-c .nav .li-item a::after {
          position: absolute;
          left: 0;
          bottom: -5px;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #b9ab77;
          display: none; }
        .header .header-c .nav .li-item .active::after {
          display: block; }
        .header .header-c .nav .li-item a:hover::after {
          display: block; }
    .header .header-c .nav-m {
      display: none;
      position: absolute;
      top: 0;
      right: 60px;
      height: 100%; }
      .header .header-c .nav-m .li-item {
        float: left;
        height: 100%;
        width: 110px;
        margin-left: 20px;
        text-align: center;
        line-height: 80px; }
        .header .header-c .nav-m .li-item a {
          position: relative;
          text-decoration: none;
          color: #666666; }
        .header .header-c .nav-m .li-item a:hover {
          color: #1d1d1d; }
        .header .header-c .nav-m .li-item a::after {
          position: absolute;
          left: 0;
          bottom: -5px;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #b9ab77;
          display: none; }
        .header .header-c .nav-m .li-item .active::after {
          display: block; }
        .header .header-c .nav-m .li-item a:hover::after {
          display: block; }
    .header .header-c .switch {
      display: none;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 30px;
      height: 30px; }
      .header .header-c .switch .icon {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.3s linear; }
        .header .header-c .switch .icon .line {
          display: block;
          width: 30px;
          height: 2px;
          background-color: #000;
          transition: all 0.3s linear; }

.banner {
  position: relative;
  width: 100%;
  margin-top: 80px; }
  .banner .banner-2 {
    width: 100%;
    animation: alternates-reverse 10s ease-in-out infinite; }
    .banner .banner-2 img {
      width: 100%; }
  .banner .banner-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    animation: alternates 10s ease-in-out infinite; }
    .banner .banner-1 img {
      width: 100%; }

@keyframes alternates {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    z-index: 1;
    opacity: 1; }
  70% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes alternates-reverse {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  70% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.content {
  width: 100%;
  margin-top: 100px; }
  .content .content-c {
    width: 1080px;
    margin: 0 auto; }
    .content .content-c .brand {
      width: 100%; }
      .content .content-c .brand .title {
        text-align: center;
        height: 105px; }
        .content .content-c .brand .title .title-c {
          color: #444444;
          font-size: 26px;
          padding-bottom: 8px; }
        .content .content-c .brand .title .title-e {
          color: #c1c1c1;
          font-size: 16px; }
      .content .content-c .brand .brand-t {
        position: relative;
        width: 100%; }
        .content .content-c .brand .brand-t .img {
          width: 39%; }
          .content .content-c .brand .brand-t .img img {
            width: 100%; }
        .content .content-c .brand .brand-t .text {
          color: #6b6b6b;
          font-size: 16px;
          position: absolute;
          right: 0;
          top: 0;
          width: 55%; }
          .content .content-c .brand .brand-t .text p {
            line-height: 27px;
            text-indent: 2em; }
      .content .content-c .brand .brand-b {
        margin-top: 40px;
        margin-bottom: 60px;
        color: #6b6b6b;
        font-size: 16px;
        line-height: 27px; }
    .content .content-c .contact {
      padding-bottom: 60px; }
      .content .content-c .contact .title {
        text-align: center;
        height: 105px; }
        .content .content-c .contact .title .title-c {
          color: #444444;
          font-size: 26px;
          padding-bottom: 8px; }
        .content .content-c .contact .title .title-e {
          color: #c1c1c1;
          font-size: 16px; }
      .content .content-c .contact .address .img {
        width: 100%; }
        .content .content-c .contact .address .img img {
          width: 100%; }
      .content .content-c .contact .address h2 {
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 26px;
        color: #373737; }
      .content .content-c .contact .address p {
        color: #6b6b6b;
        font-size: 16px;
        line-height: 27px; }
      .content .content-c .contact .map {
        margin-top: 30px;
        position: relative;
        width: 100%; }
        .content .content-c .contact .map #allmap {
          width: 45%;
          height: 260px; }
        .content .content-c .contact .map .tel {
          position: absolute;
          width: 52%;
          right: 0;
          top: 0; }
          .content .content-c .contact .map .tel p:nth-child(1) {
            padding-top: 160px; }
          .content .content-c .contact .map .tel p {
            font-size: 16px;
            color: #616060;
            line-height: 25px; }

.footer {
  width: 100%;
  height: 100px;
  background-color: #4d4d4d; }
  .footer .footer-c {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    color: #fff;
    overflow: hidden; }
    .footer .footer-c .left {
      height: 100%; }
      .footer .footer-c .left p:nth-child(1) {
        margin: 40px 0 13px; }
      .footer .footer-c .left p:nth-child(2) {
        margin: 13px 0 18px; }
    .footer .footer-c .right {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%; }
      .footer .footer-c .right li {
        float: left;
        height: 100%;
        line-height: 100px;
        margin-left: 58px; }
        .footer .footer-c .right li a {
          text-decoration: none;
          color: #fff; }
    .footer .footer-c .goTop {
      display: none;
      position: fixed;
      right: 252px;
      bottom: 100px;
      width: 50px;
      height: 10px; }
      .footer .footer-c .goTop .arrow {
        display: block;
        width: 48px;
        height: 48px;
        border: 1px solid #ccc;
        background: #E8E8E8 url(../../../static/imgs/toup-icon.png) no-repeat center; }
      .footer .footer-c .goTop .tel {
        display: block;
        width: 48px;
        height: 48px;
        border: 1px solid #ccc;
        border-top: none;
        background: #E8E8E8 url(../../../static/imgs/phone-icon.png) no-repeat center; }

/*# sourceMappingURL=style.css.map */
